*{
  margin: 0;
  padding: 0;
  font-family: 'Staatliches';
}

header{
  font-size: 64px;
  color: #212121;
  background-color: #C8FF75;
  padding: 30px;
  border-bottom: 20px solid #a0f441;
}
body{
  text-align: center;
  background-color: #212121;
}

.heading{
  font-size: 32px;
  padding-top: 24px;
  color: white;
}
.data{
  font-size: 48px;
  color: #a0f441;
}
.databox{
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-left: 6px solid #a0f441;
  background-color: #121212;
}
